<div style="witdh: 100%;">
    <div style="float:left; width: 35%;">
        <h4><b>Interests</b></h4>
        <ul>
            <li>Human-Robot Interaction</li>
            <li>Robotics competition</li>
            <li>Puzzle game</li>
            <li>Languages</li>
        </ul>
    </div>
    <div style="float:left; width: 65%;">
        <h4><b>Education</b></h4>
        <ul>
            <li><b>Doctor of Engineering, Information Science (March 2023)</b></li>
                <p>Nara Institute of Science and Technology, Japan</p>
            <li><b>Master of Engineering, Information Science (March 2020)</b></li>
                <p>Nara Institute of Science and Technology, Japan</p>
            <li><b>Bachelor of Engineering, Computer Engineering (June 2017)</b></li>
                <p>Kasetsart University, Thailand</p>
        </ul>
    </div>
<div>