<h3 id="experience"><b>Work Experience</b></h3>
<ul>
    <li><b>Research Assistant at Nara Institute of Science and Technology (Nara, Japan)</b></li>
        <ul>
            <li>Developed a system to allow non-robot experrts to create and debug programs in robot behavior using visual programming and simulators</li>
            <li>Evaluated the system with 24 non-expert users using the System Usability Scale (SUS) and visualized the results using Plotly</li>
            <li>The subjective evaluation shows that more than 70% of non-expert users can utilize the proposed system to finish all the tasks and overall, the system had a good usability level</li>
            <li>Using Python, C++, OpenPose, SUS, NumPy, t-test, Plotly</li>
            <li>April 2020 - March 2023</li>
        </ul>
    <li><b>Business Development at Learn Corporation (Bangkok, Thailand)</b></li>
        <ul>
            <li>Designed python programming language curriculum for teachers and high school students</li>
            <li>Evaluated the pilot courses with high school teachers and students for feedback and improvement</li>
            <li>October 2017 - March 2018</li>
        </ul>
    <li><b>Teaching Assistant at Kasetsart University (Bangkok, Thailand)</b></li>
        <ul>
            <li>Assisted first year students in faculty of Engineer in the Information technology and programming classes (C# and Java languages)</li>
            <li>Supported the lecturers in checking homeworks and exams</li>
            <li>October 2013 - June 2017</li>
        </ul>
</ul>