<h3 id="publication"><b>Selected Publications</b></h3>
<a href="https://scholar.google.co.jp/citations?hl=en&user=BM01zbgAAAAJ">See more</a>
<ul>
    <ol>
        <!-- 1 -->
        <li>
            <b>Human-robot interaction system for non-expert users in convenience stores using behavior trees</b>
        </li>
            <span>
                <ul>
                    <b>Authors: </b>
                    <u>Pattaraporn Tulathum</u>, Bunyapon Usawalertkamol, Gustavo A Garcia Ricardez, Jun Takamatsu, and Tsukasa Ogasawara, Kenichi Matsumoto
                </ul>
                <ul>
                    <b>Venue: </b>
                    IEEE/SICE International Symposium on System Integration (SII), 2022
                </ul>
            </span>
        <!-- 2 -->
        <li>
            <h6><b>Autonomous service robot for human-aware restock, straightening and disposal tasks in retail automation</b></h6>
        </li>
            <span>
                <ul>
                    <b>Authors: </b>
                    Gustavo A Garcia Ricardez, Pedro M Uriguen Eljuri, Yuta Kamemura, Shiori Yokota, Noriyuki Kugou, Yoshitatsu Asama, Ziyu Wang, Hikaru Kumamoto, Kotaro Yoshimoto, Wai Y Chan, Tomoki Nagatani, <u>Pattaraporn Tulathum</u>, Bunyapon Usawalertkamol, Lotfi El Hafi, Hiroki Ikeuchi, Masaki Yamamoto, Jun Takamatsu, Tadahiro Taniguchi, and Tsukasa Ogasawara
                </ul>
                <ul>
                    <b>Venue: </b>
                    Advanced Robotics, 2022
                </ul>
            </span>
        <!-- 3 -->
        <li>
            <h6><b>Robot behavior debugger for non-expert users in convenience stores using behavior trees</b></h6>
        </li>
            <span>
                <ul>
                    <b>Authors: </b>
                    <u>Pattaraporn Tulathum</u>, Bunyapon Usawalertkamol, Gustavo A Garcia Ricardez, Jun Takamatsu, and Tsukasa Ogasawara, Kenichi Matsumoto
                </ul>
                <ul>
                    <b>Venue: </b>
                    Advanced Robotics, 2022
                </ul>
            </span>
        <!-- 4 -->
        <li>
            <h6><b>Toward robot-agnostic home appliance operation: a task execution framework using motion primitives, ontology, and GUI</b></h6>
        </li>
            <span>
                <ul>
                    <b>Authors: </b>
                    Akishige Yuguchi, Takumi Nakamura, Mayuki Toyoda, Masayuki Yamada, <u>Pattaraporn Tulathum</u>, Maël Aubert, Gustavo A Garcia Ricardez, Jun Takamatsu, and Tsukasa Ogasawara
                </ul>
                <ul>
                    <b>Venue: </b>
                    Advanced Robotics, 2022
                </ul>
            </span>
    </ol>
</ul>