<h3 id="qualification"><b>Qualifications and Awards</b></h3>
<ul>
    <li><b>Member of team NAIST-RITS-Panasonic at Nara Institute of Science and Technology</b></li>
        <ul>
            <li>Participated in the World Robot Summit 2020, Future Convenience Store Challenge (Nagoya, Japan):
            </li>
                <ul>
                    <li>
                        Overall winner prize and 1st place in two of three main tasks using UR5e platform.
                    </li>
                </ul>
            <li>Participated in the World Robot Summit 2018, Future Convenience Store Challenge (Tokyo, Japan):
            </li>
                <ul>
                    <li>
                        2nd place in one of three main tasks using using UR5e platform.
                    </li>
                </ul>
            <li>April 2020 - March 2023</li>
        </ul>
    <li><b>Member of team marketing at Thai Students’ Association in Japan under the Royal Patronage</b></li>
        <ul>
            <li>
                Communicated with companies and organizations located in Thailand and Japan using Thai and English languages
            </li>
            <li>April 2018 - March 2019</li>
        </ul>
    <li><b>Interns at CT Asia Robotics (Bangkok, Thailand)</b></li>
        <ul>
            <li>
                Implemented a human’s face recognition program on a Dinsaw Mini service robot
            </li>
            <li>June 2016 - August 2016</li>
        </ul>
    <li><b>Member of team Skuba and Skuba-JR at Kasetsart University</b></li>
        <ul>
            <li>RoboCup Asia Pacific 2017, RoboCup@Home Education League (Bangkok, Thailand):
            </li>
                <ul>
                    <li>
                        2nd place in RoboCup@Home Education using Turtle bot platform
                    </li>
                </ul>
            <li>RoboCup Japan Open 2017, RoboCup@Home Education League (Nagoya, Japan):
            </li>
                <ul>
                    <li>
                        2nd place in RoboCup@Home Education using Turtle bot platform
                    </li>
                </ul>
            <li>June 2015 - June 2017</li>
        </ul>    

    <li><b>President of student council at Computer Engineering Department, Kasetsart University</b></li>
        <ul>
            <li>
                Managed internal events for computer engineering students and collaborate with faculty members
            </li>
            <li>
                Arranged social events such as BarCamp Bangkhen
            </li>
            <li>April 2015 - March 2016</li>
        </ul>
</ul>