<h3 id="qualification"><b>Qualifications and awards</b></h3>
<ul>
    <li><b>April 2020 - March 2023</b></li>
        <p>Member of team NAIST-RITS-Panasonic at Nara Institute of Science and Technology</p>
    <li><b>April 2018 - March 2019</b></li>
        <p>Member of team marketing at Thai Students’ Association in Japan under the Royal Patronage</p>
    <li><b>June 2016 - August 2016</b></li>
        <p>Interns at CT Asia Robotics (Bangkok, Thailand)</p>
    <li><b>June 2015 - June 2017</b></li>
        <p>Member of team Skuba and Skuba-JR at Kasetsart University</p>
    <li><b>April 2015 - March 2016</b></li>
        <p>President of student council at Computer Engineering Department, Kasetsart University</p>
</ul>