<h3 id="skill"><b>Skills</b></h3>
<ul>
    <li><b>Languages:</b></li>
        <ul>
            Thai (Native), English (TOEIC 850), Japanese (JLPT N3), Chinese (Beginner)
        </ul>

    <li><b>Programming / Scripts:</b></li>
        <ul>
            Python, C/C++, C#, Java, Bash, MATHLAB, SQL, R
        </ul>

    <li><b>Libraries / Frameworks:</b></li>
        <ul>
            Robot Operating System (ROS), OpenPose, OpenCV, NumPy, SciPy, scikit-learn
        </ul>


    <li><b>Tools:</b></li>
        <ul>
            Git, Docker, Blender, Gazebo, Plotly
        </ul>
    
    <li><b>Operating System:</b></li>
        <ul>
            Linux, MacOS, Windows
        </ul>

    <li><b>Soft skills:</b></li>
        <ul>
            Problem solving, Research, Teamwork, Leadership, Time management
        </ul>
</ul>