<h3 id="volunteer"><b>Volunteer Activities</b></h3>
<ul>
    <li><b>Staff of NAIST GSK Recycling Club</b></li>
        <ul>
            <li>
                Provided assistance for graduated students to donate used items
            </li>
            <li>
                Hold a Recycling Market for new students to pick up desired items
            </li>
            <li>February 2021 - April 2021</li>
        </ul>
    <li><b>Organizer of BarCamp Bangkhen 2015</b></li>
        <ul>
            <li>
                Managed sponsorship plans and communicated with companies/organization
            </li>
            <li>
                Reserved venues (e.g., event hall, parking lot, etc) for the event day
            </li>
            <li>June 2015 - November 2015</li>
        </ul>
    <li><b>Organizer of BarCamp Bangkok 2014</b></li>
        <ul>
            <li>
                Prepared the event hall before the actual day
            </li>
            <li>
                Managed the registration booth and give away souvenirs
            </li>
        </ul>
</ul>